@import "../tools/mixin";
.hd-sc-row{
    padding: 20px 0;
    height: 40px;
    overflow: hidden;
    a:hover{
        color: #ff6a00;
    }
    .logo{
        margin-left: 20px; 
        width: 188px;
        height: 32px;
        @include css-sprite(0 0);
        float: left;
    }
    .hd-sc-box{
        width: 881px;
        height: 36px;
        border: 2px solid #ff6a01;
        border-radius: 36px;
    
        float: left;
        margin-left: 42px;
        position: relative;
    }
    .hd-sc-choose-btn{
        width: 103px;
        height: 36px;
        padding-left: 21px;
        font-size: 13px;
        color: #333;
        float: left;
        line-height: 36px;
    }
    .hd-sc-inp{
        position: absolute;
        top: 1px;
        left: 105px;
        width: 593px;
        height: 16px;
        font-size: 14px;
        line-height: 100%;
        color: #333;
        padding: 9px 36px 9px 10px;
        border-left: 1px solid #e6e6e6;
    }
    .hd-sc-camera{
        position: absolute;
        display: block;
        top: 10px;
        right: 148px;
        width: 16px;
        height: 16px;
        @include css-sprite(-394px 0);
        &:hover{
            @include css-sprite(-394px -28px);
        }
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: calc(-100% - 2px);
            left: 100%;
            width: 35px;
            height: 18px;
            @include css-sprite(-187px -151px);
            z-index: 1;
        }
    }
    .hd-sc-submit{
        background: #ff6a01;
        float: right;
        width: 138px;
        height: 36px;
        color: #fff;
        padding-left: 22px;
        border-radius:  0 36px 36px 0;
        &:hover{
            background-color: #e35300;
        }
    }
    .hd-sc-seach-icon{
        display: block;
        position: absolute;
        width: 15px;
        height: 16px;
        top: 10px;
        right: 90px;
        @include css-sprite(-388px -193px);
    }
    
    .hd-sc-notify{
        float: left;
        margin-left: 30px;
        div[class ^= hd-sc-box]{
            padding:0 16px;
            height: 52px;
            float: left;
        } 
    }
    .hd-sc-i-user{
        display:block;
        float: left;
        width: 28px;
        height: 28px;
        margin-top: 6px;
        @include css-sprite(-313px -144px);
    }
    .hd-sc-sign-inner{
        float: left;
        overflow: hidden;
        margin-left: 4px;
    }
    .hd-sc-link-unsingin,.hd-sc-link-register{
        line-height: 19px;
        display: block;
    }
    
    .hd-sc-i-msg{
        display: block;
        margin: 0 auto;
        width: 22px;
        height: 20px;
        @include css-sprite(-170px -191px)
    }
    .hd-sc-i-order{
        display: block;
        margin: 0 auto;
        width: 20px;
        height: 20px;
        @include css-sprite(-208px -191px)
    }
    .hd-sc-i-cart{
        display: block;
        margin: 0 auto;
        width: 21px;
        height: 20px;
        @include css-sprite(-243px -191px)
    }
    .hd-sc-link-a{
        margin-top: 7px;
        line-height: 12px;
    }
    .full-line-x{
        @include full-line(width);
    }
}
nav{
    height: 40px;
    overflow: hidden;
    position: relative;
    line-height: 12px;
    background: pink;
    a:hover{
        color: #ff6a00;
    }
    .nav-i-detail{
        vertical-align: baseline;
        display: inline-block;
        width: 23px;
        height: 14px;
        @include css-sprite(-182px -56px);
    }
    .nav-i-arrow-down{
        vertical-align: middle;
        display: inline-block;
        width: 10px;
        height: 5px;
        @include css-sprite(-62px -59px);
    }
    .nav-categories{
        
        float: left;
        padding-right: 10px;
        padding-left: 16px;
        .nav-categories-show{
            
        }
        &:hover .nav-i-arrow-down{
            @include css-sprite(-111px -59px);     
            transform:rotate(180deg);
        }
    }
    .nav-vertical-line{
        float: left;
        height: 16px;
        width: 1px;
        background: #dddee3;
    }
    .nav-list-th{
        float: left;
        .nav-list-item{
            padding: 0 12px;
            float: left;

            .nav-list-item-info{
                vertical-align: middle;
            }
            &:hover .nav-i-arrow-down{
                @include css-sprite(-111px -59px);      
                transform:rotate(180deg);
            }
            
        }

    }
}
